.footer {
  padding: 40px 12rem;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background: var(--color-bg);
}

.footer-text {
  font-size: 0.9rem;
  color: var(--color-accent);
  letter-spacing: 0.05em;
  font-weight: 400;
}

@media (max-width: 968px) {
  .footer {
    padding: 30px 2rem;
  }
}
